<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= user.name %></title>
  <style>
  .flex-container {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
        }
  .repos {
    border: 1px solid black;
    height: 80px;
    width: 20%;
    margin: 10px 0;
    text-align: center;
    padding: 10px 0;
  }
  .flex-pr-issue {
    display: flex;
    flex-direction: column;
  }
  </style>
</head>
<body>
    <div = >
        <h3>Recent Contributions</h3>
        <div class="flex-container">
          
          <% user.push.forEach((repos) => { %>
            <div class="repos">
              <%= repos.name %>
            </div>
          <% }) %>
        </div>
        <div class="flex-pr-issue">
          <h3>Issues Raised</h3>
          <% user.issues.forEach((issue) => { %>
            <div class="issues">
                <a href=<%= issue.url %>><%= issue.name %></a>
            </div>
          <% }) %>
        </div>
        <div class="flex-pr-issue">
          <h3>Pull Requests Made</h3>
          <% user.pullRequests.forEach((pr) => { %>
            <div class="pr">
              <a href=<%= pr.url %>><%= pr.name %></a>
            </div>
          <% }) %>
        </div>
    </div>
</body>
</html>